/* footer.css */

.footer-container {
  margin-top: 20px;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
  }
  
  .footer-p {
    font-size: 20px;
    color: #e2752b;
    margin-bottom: 20px;

  }
  
  .iconos-redes-contenedor {
    display: flex;
  }
  .iconos-sociales{
    margin: 20px;
  }
  
  .social-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Estilos para las imágenes de las redes sociales */
  .icono-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .footer-sobre-nosotros{
    color: #e2752b;
    font-size: 20px;
  }


  @media (max-width: 780px){
    .footer-container {
      flex-direction: column;
    }
  }