.noticias-container{
    display:flex;
    flex-wrap: wrap;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
} 
.Notic-p{
    font-size: 1.5rem;
    cursor: pointer;
}
.noticias-container h1 {
    width: 100%;
    text-align: center;
}

.noticias__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.p-noticia{
    font-size: 1.5rem;
    color:white;
}
.noticias__menu-li{
    margin-top: 20px;
    margin-right: 0;
}

.noticas__menu-noticia{
    display: grid;
    padding-right: 20px;
    grid-template-columns: 0.4fr 1fr;
    transition: 0.5s;
    background-color: #e2752b;
    margin: auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.noticas__menu-noticia:hover{
    transform: scaleY(1.02) scaleX(1.02);
    background-color: rgba(0, 0, 0, 0.876);
}

.noticias__menu-contenido{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px
}

.noticias__menu-contenido h2{
    text-align: start;
    color: white;
    font-size: 1.5rem;
}
.noticias__menu-contenido p{
    display: block;
    width: 200px;
    height: auto;
    word-wrap: break-word;
    min-inline-size: -webkit-fill-available;
    
}
.noticias__menu-noticia-img{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.noticias__menu__botones-botones{
    width: 130px;
    height: 40px;
    background-color: rgb(243, 148, 40);
    margin:2px 2px 2px 0px;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;

}

.last{
    width: 130px;
    height: 40px;
    background-color: rgb(225, 40, 16);
    margin:2px 2px 2px 0px;
    cursor: pointer;
    color: rgb(244, 246, 248);
}
.nada{
    display: none;
}
@media (max-width:780px) {
    .editar-noticia{
        flex-direction: column;
    }
}

@media(max-width:500px){
    .noticas__menu-noticia{
        display: grid;
        padding-right: 20px;
        grid-template-columns: 1fr 1.5fr;
        transition: 0.5s;
        background-color: #e2752b;
        margin: auto;
       
    }
    .editar-noticia{
        flex-direction: column;
    }
}

@media(max-width:500px){
    .noticas__menu-noticia{
        display: grid;
        padding-right: 20px;
        grid-template-columns: 1fr;
        transition: 0.5s;
        background-color: #e2752b;
        margin: auto;
       
    }

    .noticias__menu-contenido{
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
} 

.noticias-container-h1{
font-size: 3rem;
}


.editar-noticia{
    display: flex;
    flex-direction: column;
    position: fixed;
    position: relative;
    border: none;
    background-color: #e2752b;
    padding: 10px;
}

.editar-noticia button{
    cursor: pointer;
}
.button-cancelar{
    background-color: #ef211a;
    width: 248px;
    height: 40px;
    color: white;
    font-size: 1.1rem;
}
.button-guardar{
    background-color: #f19514;
    width: 248px;
    height: 40px;
    margin-bottom:10px ;
    margin-top: 10px;
    color: white;
    font-size: 1.1rem;
}

.noticia-input{
    font-size: 1.1rem;
}
.noticia-textarea{
    font-size: 1.3rem;
    resize: none;
    display: block;
    height: 300px;
}
.label-editar{
    font-size: 1.8rem;
    color: white;
}
.covertor-editar{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.17);
}

.alerta-roja-editar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1.1rem;
}
.alerta-verde-editar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(13, 255, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1.1rem;
}